@using DoctorToothieApp.DbModels
@model List<Room>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="d-flex gap-2 flex-wrap">
    @foreach (var entry in Model)
    {
        <a href="https://localhost:7181/">
            <div class="card bg-danger w-25">
                <img src="../Images/Default.jpeg" />
                <p class="">Numer pokoju: @entry.Number</p>
                @entry.Parent.Name @entry.Parent.Address<br />
            </div>
        </a>

    }
</div>

