@using DoctorToothieApp.DbModels
@model List<Room>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var entry in Model)
{
    <div>
        @entry.Parent.Name @entry.Parent.Address<br />
        @entry.Number
    </div>
}
