@model DoctorToothieApp.Controllers.ChildrenEditVM

<div class="container mt-5">
    <h2>Edytuj członka rodziny</h2>

    <form asp-action="Edit" autocomplete="off" class="mt-4">

        <input asp-for="Id" type="hidden" />

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="text-danger small"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="FirstName" class="form-control" autocomplete="given-name" placeholder="Jan" />
            <label asp-for="FirstName">Imię</label>
            <span asp-validation-for="FirstName" class="text-danger small"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="LastName" class="form-control" autocomplete="family-name" placeholder="Nowak" />
            <label asp-for="LastName">Nazwisko</label>
            <span asp-validation-for="LastName" class="text-danger small"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control" autocomplete="new-password" placeholder="Hasło" />
            <label asp-for="Password">Hasło</label>
            <span asp-validation-for="Password" class="text-danger small"></span>
        </div>

        <div class="form-floating mb-4">
            <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" placeholder="Potwierdź hasło" />
            <label asp-for="ConfirmPassword">Potwierdź hasło</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
        </div>

        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-secondary">Cofnij</a>

            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>

    </form>
</div>
