@model DoctorToothieApp.Controllers.ReserveLocationVM
@{
    ViewData["Title"] = "Create";
}
<h2>Wybierz placówkę</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="LocationPost" asp-mo>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.Location" class="control-label"></label>

                <select asp-for="Reservation.Location" asp-items="Model.Locations">
                    
                </select>

                <input asp-for="Reservation.Location" class="form-control" />
                <span asp-validation-for="Reservation.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <a asp-controller="Reserve" asp-action="Room">Dalej</a> *@